<head>
	<title>Hi</title>
</head>
<body>

<script type="text/javascript" src="http://temp-node-adam.herokuapp.com/faye.js"></script>
<script type="text/javascript">
	var client = new Faye.Client('http://temp-node-adam.herokuapp.com/faye', { timeout: 5 });
	var subscription = client.subscribe('/foo', function(message) {
		alert(message);
	  // handle message...
	});	
</script>

