<head>
<title>hi</title>
</head>
<body>
...
<script type="text/javascript" src="http://temp-node-adam.herokuapp.com/faye.js"></script>

<script type="text/javascript">
  var client = new Faye.Client('http://temp-node-adam.herokuapp.com/faye');
  client.publish('/foo', {text: 'Hi there'});
</script>
