<html>
<head>
	<title>Hi</title>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag "layout" %>
	<script type="text/javascript" src="http://temp-node-adam.herokuapp.com/faye.js"></script>

</head>
<body>
	<%=yield%>
</body>
</html>